 /* Stylish CSS for the event list and popup */
 body {
     font-family: Arial, sans-serif;
     background-color: #172238 !important;
     margin: 0;
     padding: 0;
 }
 p{
    color: white !important;
 }

 h1 {
     text-align: center;
     padding: 20px;
     background-color: #222d43;
     color: white !important;
 }

 h2 {
     text-align: center;
     padding: 20px;
     color: white;
     font-weight: 600;
 }

 #event-list {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 #event-list1 {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-wrap: inherit;
     justify-content: center;
 }

 .event-item {
     background-color: #202124;
     border: 1px solid #202124;
     border-radius: 5px;
     box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
     margin: 30px;
     padding: 20px;
     text-align: center;
 }

 .event-item strong {
     font-size: 17px;
     color: white;
 }

 .event-item p {
     margin: 10px 0;
 }

 a#cartimg {
    /* width: 40px; */
    padding-right: 20px;
    padding-left: 20px;
}
#cartimg {
    background: url(./assets/images/icons8-cart-48.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    background-position: center;
}
 .view-details {
     background-color: orange;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }

 .view-details:hover {
     background-color: #555;
     color: orange;
 }

 .register-now {
     background-color: orange;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     margin-top: 10px;
 }

 .register-now:hover {
     background-color: #0056b3;
 }
/* Add "image-" prefix to CSS class names */
.image-author1 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg) center no-repeat;
    background-size: cover !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
  }
  
  /* Add "image-" prefix to popup styles */
  .image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    text-align: center;
  }
  
  .image-popup img {
    height: 95vh;
    margin: 20px auto;
  }
  
  .image-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
 /* Styling for the popup and overlay */
 .overlay {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 999;
 }

 .popup {
    color: black !important;
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 20px;
     border: 1px solid #ccc;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     z-index: 1000;
     text-align: left;
 }
 .popup p{
    color: black !important;
 }

 /* Styling for the close button */
 .close-button {
     background-color: #ccc;
     color: #333;
     border: none;
     padding: 5px 10px;
     border-radius: 5px;
     cursor: pointer;
     float: right;
 }

 .close-button:hover {
     background-color: #999;
 }

 .page-holder {
     min-height: 100vh;
 }

 .bg-cover {
     background-size: cover !important;
 }

 @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

 html,
 body {
     margin: 0;
     height: 120%;
     font-family: 'Josefin Sans', sans-serif;

 }

 a {
     text-decoration: none
 }

 .header {
     position: relative;
     overflow: hidden;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
     align-content: flex-start;
     height: 40vw;
     min-height: 400px;
     max-height: 550px;
     min-width: 300px;
     color: #eee;
 }

 .header:after {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: -1;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgba(27, 32, 48, 1) 100%);
 }

 .header:before {
     content: "";
     width: 100%;
     height: 200%;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-backface-visibility: hidden;
     -webkit-transform: translateZ(0);
     backface-visibility: hidden;
     scale:(1.0, 1.0);
     transform: translateZ(0);
     background: #1B2030 url(./assets/images/contact-bg.jpg) 50% 0 no-repeat;
     background-size: cover;
     background-attachment: fixed;
     animation: grow 360s linear 10ms infinite;
     transition: all 0.4s ease-in-out;
     z-index: -2
 }

 .header a {
     color: #eee
 }

 .menu {
     display: block;
     width: 40px;
     height: 40px;
     border: 2px solid #fff;
     border-radius: 3px;
     position: absolute;
     right: 20px;
     top: 20px;
     text-decoration: none
 }

 .menu:after {
     content: "";
     display: block;
     width: 20px;
     height: 3px;
     background: #fff;
     position: absolute;
     margin: 0 auto;
     top: 5px;
     left: 0;
     right: 0;
     box-shadow: 0 8px, 0 16px
 }

 .logo {
     border-radius: 3px;
     text-decoration: none;
     display: inline-flex;
     align-items: center;
     align-content: center;
     margin: 20px;
     padding: 0px 10px;
     font-weight: 900;
     font-size: 1.1em;
     line-height: 1;
     box-sizing: border-box;
     height: 40px
 }
 
 .file-popup-overlay {
    display: none; /* Initially hide the popup */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the popup container */
.file-popup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

/* Style for the file input */
.file-input {
    display: none;
}

.file-label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

/* Style for the buttons */
.file-btn {
    margin-top: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.file-btn.cancel {
    background-color: #ccc;
}



 .sides,
 .info {
     flex: 0 0 auto;
     width: 50%
 }

 .info {
     width: 100%;
     text-align: center;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
     padding-top: 5%;
 }

 .author {
     display: inline-block;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     background: url(./favicon.ico) center no-repeat;
     background-size: cover !important;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
     margin-bottom: 3px
 }
 .author1 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg) center no-repeat;
    background-size: cover !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px
}

 .info h4,
 .meta {
     font-size: 0.7em
 }

 .meta {
     font-style: italic;
 }

 @keyframes grow {
     0% {
         transform: scale(1) translateY(0px)
     }

     50% {
         transform: scale(1.2) translateY(-400px)
     }
 }

 .content {
     padding: 5% 10%;
     text-align: justify
 }

 .btn {
     color: #333;
     border: 2px solid;
     border-radius: 3px;
     text-decoration: none;
     display: inline-block;
     padding: 5px 10px;
     font-weight: 600
 }

 .twtr {
     margin-top: 100px
 }

 .btn.twtr:after {
     content: "\1F426";
     padding-left: 5px
 }

 /* Absolute Center Spinner */
 .loading {
     position: fixed;
     z-index: 999099999;
     height: 2em;
     width: 2em;
     overflow: show;
     margin: auto;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }

 /* Transparent Overlay */
 .loading:before {
     content: '';
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

     background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
 }

 /* :not(:required) hides these rules from IE9 and below */
 .loading:not(:required) {
     /* hide "loading..." text */
     font: 0/0 a;
     color: transparent;
     text-shadow: none;
     background-color: transparent;
     border: 0;
 }

 .loading:not(:required):after {
     content: '';
     display: block;
     font-size: 10px;
     width: 1em;
     height: 1em;
     margin-top: -0.5em;
     -webkit-animation: spinner 150ms infinite linear;
     -moz-animation: spinner 150ms infinite linear;
     -ms-animation: spinner 150ms infinite linear;
     -o-animation: spinner 150ms infinite linear;
     animation: spinner 150ms infinite linear;
     border-radius: 0.5em;
     -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
     box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
 }

 @-webkit-keyframes spinner {
     0% {
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @-moz-keyframes spinner {
     0% {
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @-o-keyframes spinner {
     0% {
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes spinner {
     0% {
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
         transform: rotate(0deg);
     }

     100% {
         -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 .site-footer {
     background-color: #26272b;
     padding: 45px 0 20px;
     font-size: 15px;
     line-height: 24px;
     color: #737373;
 }

 .site-footer hr {
     border-top-color: #bbb;
     opacity: 0.5
 }

 .site-footer hr.small {
     margin: 20px 0
 }

 .site-footer h6 {
     color: #fff;
     font-size: 16px;
     text-transform: uppercase;
     margin-top: 5px;
     letter-spacing: 2px
 }

 .site-footer a {
     color: #737373;
 }

 .site-footer a:hover {
     color: #3366cc;
     text-decoration: none;
 }

 .footer-links {
     padding-left: 0;
     list-style: none
 }

 .footer-links li {
     display: block
 }

 .footer-links a {
     color: #737373
 }

 .footer-links a:active,
 .footer-links a:focus,
 .footer-links a:hover {
     color: #3366cc;
     text-decoration: none;
 }

 .footer-links.inline li {
     display: inline-block
 }

 .site-footer .social-icons {
     text-align: right
 }

 .site-footer .social-icons a {
     width: 40px;
     height: 40px;
     line-height: 40px;
     margin-left: 6px;
     margin-right: 0;
     border-radius: 100%;
     background-color: #33353d
 }

 .copyright-text {
     margin: 0
 }

 @media (max-width:991px) {
     .site-footer [class^=col-] {
         margin-bottom: 30px
     }
 }

 @media (max-width:767px) {
     .site-footer {
         padding-bottom: 0
     }

     .site-footer .copyright-text,
     .site-footer .social-icons {
         text-align: center
     }
 }

 .social-icons {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none
 }

 .social-icons li {
     display: inline-block;
     margin-bottom: 4px
 }

 .social-icons li.title {
     margin-right: 15px;
     text-transform: uppercase;
     color: #96a2b2;
     font-weight: 700;
     font-size: 13px
 }

 .social-icons a {
     background-color: #eceeef;
     color: #818a91;
     font-size: 16px;
     display: inline-block;
     line-height: 44px;
     width: 44px;
     height: 44px;
     text-align: center;
     margin-right: 8px;
     border-radius: 100%;
     -webkit-transition: all .2s linear;
     -o-transition: all .2s linear;
     transition: all .2s linear
 }

 .social-icons a:active,
 .social-icons a:focus,
 .social-icons a:hover {
     color: #fff;
     background-color: #29aafe
 }

 .social-icons.size-sm a {
     line-height: 34px;
     height: 34px;
     width: 34px;
     font-size: 14px
 }

 .social-icons a.facebook:hover {
     background-color: #3b5998
 }

 .social-icons a.twitter:hover {
     background-color: #00aced
 }

 .social-icons a.linkedin:hover {
     background-color: #007bb6
 }

 .social-icons a.dribbble:hover {
     background-color: #ea4c89
 }

 @media (max-width:767px) {
     .social-icons li.title {
         display: block;
         margin-right: 0;
         font-weight: 600
     }
 }
 



 
.box{
   margin:20px !important;
  }
  
  .container-2{
    width: 300px;
    vertical-align: middle;
    white-space:nowrap;
    position:relative;
  }
  
  .container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border:none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 12px;
    z-index: 1;
    color: #4f5b66;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
  
  .container-2:hover input#search{
    width: 300px;
  }
  
  .container-2:hover .icon{
    color: #93a2ad;
  }